@import "src/scss/reset";
@import "src/scss/fonts";
@import "src/scss/variables";
@import "src/scss/mixins";

// Global

*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

section{
    min-width: 320px;
}

body{
    background-color: #FFF;
}

// Present Text

.present-text{
    padding-bottom: 88px;

    &__wrapper{
        padding: 0 10px;
        display: flex;
        align-items: center;
        text-align: center;
        @include flexColumn;
    }
    &__title{
        @include fontMontserrat-bold;
        font-size: 26px;
        line-height: 28px;
        text-transform: uppercase;
        color: $revolutionary-editor-title-color;
        display: block;
        margin-bottom: 37px;
    }
    &__text-box{
        @include flexColumn;
        margin-bottom: 24px;
    }
    &__text{
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        color: $dark-text-color;
        @include fontLato-normal;
        max-width: 861px;
    }
    &__buttons-box{
        @include flexRow;
        justify-content: center;
        gap: 10px;
        width: 100%;
        flex-wrap: wrap;
        max-width: 365px;
    }
    &__btn{
        border: 1px solid rgba(31,35,40,0.15);
        border-radius: 6px;
        font-size: 12px;
        font-weight: 600;
        padding: 0 2px;
        color: #24292f;
        line-height: 20px;
        @include flexRow;
        align-items: center;
        background-color: #f6f8fa;

        span{
            display: block;
        }
    }
    &__icon-text{
        @include flexRow;
        padding: 3px 5px;
        border-right: 1px solid rgba(31,35,40,0.15);
        gap: 4px;
        align-items: center;

    }
    &__icon-number{
        background-color: #FFF;
        height: 95%;
        padding: 3px 5px;
     }
}

@media (min-width: 481px){
    .present-text{
        padding-bottom: 98px;
        &__title{
            font-size: 42px;
            line-height: 42px;
        }
        &__text{
            font-size: 21px;
            line-height: 32px;
        }
    }
}

@media (min-width: 993px){
    .present-text{
        @include centerPosition;
        padding-bottom: 70px;
        &__title{
            font-size: 54px;
            line-height: 54px;
        }
    }
}

// Header

.header__section{
    background-image: url(../images/menu_header/background.png);
    @include backgroundPosition;
    height: 800px;
    position: relative;
    margin-bottom: 33.5px;

}

.header{

    &__wrapper{
       @include centerPosition;
        padding: 32px 0px;
        background-color:$header-nav-background-color;
        position: relative;

    }
    &__nav{
        @include flexRow;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        @include flexRow;
        margin-left: 16px;
        &-svg {
            background-image: url("../images/menu_header/logo.svg");
            width: 43px;
            height: 41px;
            margin-right: 17px;
          }
        &:hover &-svg{
            background-image: url('../images/menu_header/logo-hover.svg');
          }
        &:hover &-text{
            color: $white-color;
          }


    }
    &__logo-text{
        margin-top: 14px;
        color:$purple-color;
        text-transform: uppercase;
        @include fontLato-bold;
        line-height: 16px;
        font-size: 24px;
        display:none;
     }

    &__button{
       @include button;
        padding: 11px;
       font-size: 15px;
       width: 119px;
       cursor: pointer;

    }
    &__text{
        text-align: center;
        padding: 0px 10px;
        margin-top: 50px;


    }
    &__title{
        @include fontMontserrat-bold;
        color:$white-color;
        line-height: 48px;
        font-size: 48px;
        margin-bottom: 19px;
    }
    &__subtitle{
        @include fontMontserrat-normal;
        color: $purple-color;
        font-size: 18px;
        line-height: 24px;
       margin-bottom: 14px;

    }
    &__content{
        @include fontMontserrat-normal;
        color: $content-color;
       text-transform: uppercase;
       font-size: 14px;
        line-height: 14px;
    }
    &__download-button{
        @include button;
        font-size: 18px;
        line-height: 20px;
        width: 290px;
        padding: 13px 29px;
        position: absolute;
        bottom: -22px;
        left: 50%;
        margin-left: -150px;
        cursor: pointer;

    }
    &__button-text{
        color:$content-color;
        text-align: center;
        @include fontMontserrat-normal;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 79.5px;

    }
    &__list{
    display: none;
    position: absolute;
    right: 0;
    margin-right: 15px;
    top: 0;
    margin-top: 105px;
    width: 292px;
    }
    &__menu-link{
        display: block;
        padding: 29px 50px 21px 35px;
        font-size: 26px;
        line-height: 26px;
        text-align: start;
        @include fontMontserrat-normal;
        color: $white-color;
        background-color: $header-menu-background-color;
        border-bottom: 1px solid $header-menu-border-color;
    }
    &__list--opened{
        display: block ;
    }
}
.burger-opened-img{
    margin-right: 20px;
    display: none;

}

@media (max-width: 480px){
    .header{
        &__menu-link{
            &:hover{
                color: $purple-color;
                padding: 19px 50px 16px 0px;
                vertical-align: middle;
             }
             &:hover::before{
             content: "";
             width:8px;
             height: 45px;
             display:inline-block;
             background-color: $purple-color;
             margin-right: 29px;
             vertical-align: middle;

              }
             &:focus{
                color: $purple-color;
                vertical-align: middle;

             }
        }
    }

}
@media (min-width: 481px){
    .burger-button{
        display: none;
        }
    .header{
        &__wrapper{
            padding: 32px 0px 18px 0px;
        }
        &__logo-text{
            display: block;
        }
        &__button{
            margin-right: 10px;
        }
        &__list{
            margin: auto;
            position: static;
            @include flexRow;
            justify-content: space-around;

            width: 481px;
        }
        &__menu-link{
          @include fontMontserrat-bold;
          font-size: 16px;
         line-height: 18px;
         color: $purple-color;
         padding: 0px;
         padding-top: 25px;

         background-color: transparent;
         border-bottom: none;
         &:hover{
            color:$white-color;
        }

        }
        &__logo-text:hover{
            color:$white-color;
    }
    &__button:hover,
    &__download-button:hover{
        color:$purple-color;
        background-color: $white-color;
        border: 1px solid $purple-color;
    }
    }
}

@media (min-width: 993px){
    .header{
        &__wrapper{
            background-color: transparent;
        }
        &__list{
            position: absolute;
            bottom:0;
            right: 0;
            margin-top: 42px;
            margin-right: 193px;

        }
        &__menu-link{
            padding: 0;
            line-height: 17px;
            &:hover{
                color:$white-color;
            }
        }
        &__logo-text:hover{
                color:$white-color;
        }
        &__button:hover,
        &__download-button:hover{
            color:$purple-color;
            background-color: $white-color;
            border: 1px solid $purple-color;


        }
    }
}
// Features

.features{
    &__wrapper{
        max-width: 1200px;
        margin: 0 auto;
        padding: 32px 0 6px;
        text-align: center;
        @include flexColumn;
    }
    &__title{
        @include fontMontserrat-bold;
        font-size: 32px;
        line-height: 38px;
        color: $purple-color;
        padding: 0 10px;
    }
    &__title-two{
        display: none;
    }
    &____cards,
    &__card,
    &__card-text-block{
        @include flexColumn;
        align-items: center;
        text-align: center;
    }
    &__cards{
        padding: 0 10px;
    }
    &__card-img{
        margin-bottom: 27px;
        margin-top: 40px;
        width: 111px;
    }
    &__card-title{
        @include fontMontserrat-normal;
        font-size: 16px;
        line-height: 16px;
        color: $dark-text-color;
        margin-bottom: 14px;
    }
    &__card-text{
        @include fontLato-normal;
        font-size: 14px;
        line-height: 21px;
        color: $content-color;
    }
    &__img{
        margin-top: 64px;
        overflow-x: hidden;
        padding-right: 0;
    }
}

@media (min-width: 481px){
    .features{
        &__wrapper{
            padding: 61px 0 1px;
        }
        &__title{
            font-size: 42px;
            line-height: 44px;
            margin-bottom: 50px;
        }
        &____cards{
            @include flexColumn;
            padding: 0 10px;
        }

        &__card-text-block{
            @include flexColumn;
            text-align: start;
            align-items: start;
        }

        &__card{
            padding-bottom: 60px;
            display: grid;
            grid-template-columns: 111px auto;
            column-gap: 23px;
        }

        &__card-img{
            margin: 0;
        }

        &__card-title{
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 16px;
        }

        &__img{
            text-align: end;
            padding-top: 16px;
            margin-top: 0;
        }
    }
}

@media (min-width: 993px){
    .features{
        width: 100vw;
        background: $features-background;
        &__wrapper{
            @include centerPosition;
            padding: 94px 0 33px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &__title{
            display: none;
        }
        &__title-two{
            display: block;
            font-size: 38px;
            line-height: 50px;
            margin-bottom: 18px;
            @include fontMontserrat-bold;
            color: $purple-color;
            text-align: start;
            padding-left: 20px;
        }
        &__card{
            padding-bottom: 34px;

        }
        &__card-text-block{
            padding-right: 30px;
        }

        &__img{
            padding-top: 0;
            text-align: end;
            margin-top: 0;
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}
@media (min-width: 1120px){
    .features{
        &__title-two{
            font-size: 42px;
        }
    }
}
@media (min-width: 1180px){
    .features{
        &__title-two{
            font-size: 46px;
        }
    }
}

// Pricing
.pricing{
    background-image: url(../images/features/Layer_2_1.png);
    @include backgroundPosition;
    color: $white-color;
    &__wrapper{
        @include flexColumn;
        @include flexCenter;
      }
    &__title{
        @include fontMontserrat-bold;
        font-size: 28px;
        line-height: 42px;
        padding: 0 10px 32px;
    }
    &__cards{
        @include flexColumn;
        padding: 0 10px;
        @include flexCenter;
        span{
            display: block;
        }
    }
    &__card{
        width: 257px;
        height: 457px;
        box-sizing: border-box;
        background: rgba(255,255,255, 0.11);
        margin-bottom: 18px;
    }
    &__card-big{
        width: 299px;
        height: 560px;
        box-sizing: border-box;
        background: rgba(70,48,72, 0.84);
        margin-bottom: 18px;
    }
    &__card-title{
        background: rgba(255,255,255, 0.06);
        padding: 36px 0;
        @include pricingCard;
    }
    &__card-big-title{
        background: rgba(0,0,0, 0.11);
        padding: 43px 0;
        @include pricingCard;
    }
    &__card-price{
        font-size: 60px;
        line-height: 62px;
        text-transform: uppercase;
        @include fontMontserrat-normal;
        padding-top: 30px;
    }
    &__card-big-price{
        font-size: 82px;
        line-height: 84px;
        padding-top: 14px;
    }
    &__card-tarif{
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        @include fontMontserrat-normal;
        padding-top: 20px;
        position: relative;
        padding-bottom: 73px;
        &::after{
            content: '';
            display: block;
            width: 60px;
            height: 5px;
            left: 99px;
            top: 70px;
            background: $purple-color;
            position: absolute;
        }
    }
    &__card-big-tarif{
        padding-top: 16px;
        padding-bottom: 81px;
        &::after{
            content: '';
            left: 120px;
            top: 70px;
        }
    }
    &__card-condition,
    &__card-condition-two{
        font-size: 16px;
        line-height: 18px;
        @include fontMontserrat-normal;
    }
    &__card-big-condition{
        line-height: 32px;
    }
    &__card-condition-two{
        padding-top: 10px;
    }
    &__card-big-condition-two{
        padding-top: 15px;
        line-height: 32px;
    }
    &__btn{
        margin-top: 37px;
        background: rgba(255,255,255, 0.15);
        width: 163px;
        height: 45px;
        color: $white-color;
        border-radius: 40px;
        border: none;
        font-size: 15px;
        line-height: 15px;
        @include fontMontserrat-normal;
        text-transform: uppercase;
        cursor: pointer;
        a{
            text-decoration: none;
            color: $white-color;
        }
    }

    &__btn-big{
        width: 190px;
        height: 52px;
        margin-top: 73px;
        font-size: 16px;
        line-height: 18px;
        cursor: pointer;
    }
}

@media (min-width: 481px){
    .pricing{
    &__wrapper{
        @include centerPosition;
    }
    &__title{
        font-size: 42px;
        line-height: 44px;
        padding: 98px 10px 39px;
    }
    &__card-price{
        font-size: 60px;
        padding-top: 25px;
    }
    &__card-tarif{
        padding-bottom: 68px;
    }
    &__card-big-price{
        font-size: 82px;
        line-height: 90px;
    }
    &__card-big-condition{
        line-height: 18px;
    }
    &__card-condition-two{
        padding-top: 0px;
    }
    &__card-big-condition-two{
        padding-top: 0;
    }
    }
}

@media (min-width: 601px){
    .pricing{
        &__wrapper{
            padding-bottom: 94px;
        }
        &__cards{
            display: grid;
            grid-template-columns: 299px 257px;
            justify-content: end;
            gap: 25px;
            justify-items: end;
        }
        &__card{
            margin-bottom: 0;
        }
        &__card-big{
            margin-bottom: 0;
        }
        &__btn--first{
            margin-top: 53px;
        }
    }
}

@media (min-width: 993px){
    .pricing{
        &__title{
            font-size: 48px;
            line-height: 50px;
            padding: 83px 10px 61px;
        }
    }
}

@media (min-width: 1145px){
    .pricing{
        &__cards{
            display: grid;
            grid-template-columns: 257px 257px 299px 257px;
            column-gap: 15px;
        }
    }
}



// Testimonials
.testimonials{
    background-image: url(../images/testimonials/testmonials-bg1.png);
   @include backgroundPosition;

    &__wrapper{
        @include centerPosition;
        padding: 0px 10px;
    }
    &__title{
        @include fontMontserrat-bold;
        font-size: 42px;
        line-height: 44px;
        color:$white-color;
        padding-top: 57px;
        padding-bottom:53px;
        text-align: center;
    }
    &__content{
        @include flexColumn;
        padding: 0px 10px;
    }
    &__card{
        padding-bottom: 45px;
    }
    &__section{
        width: 100%;
    }
    &__text{
        @include fontLato-italic;
        font-size: 16px;
        line-height: 24px;
        padding-top: 30px;
        color:$white-color;
        margin: 0 auto;
        text-align: center;
        max-width: 330px;
    }
    &__logo-img{
        text-align: center;
         }
    &__footer{
        color: $second-text-color;
        @include fontLato-normal;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        max-width: 887px;
        margin: auto;
        padding-bottom: 18.5px;

    }
    &__line{
      width: 245px;
      height: 2px;
      background-color: #645766;
      margin: auto;
    }

}

@media (min-width: 481px){
    .testimonials{
        &__title{
            padding-top: 87px;
            padding-bottom:85px;
        }
        &__content{
            @include flexRow;
            flex-wrap: wrap;

        }
        &__card{
            padding-bottom: 60px;
          }
        &__section{
            width: 50%;
          }
        &__line{
            width: 481px;

    }
}
}
@media (min-width: 993px){

    .testimonials{
        &__title{
            font-size: 48px;
            line-height: 50px;
            padding-top: 108px;
            padding-bottom:82px;
        }
        &__card{
            padding-bottom: 116px;
          }
          &__section{
            width: 33%;
          }
          &__line{
            width: 780px;

    }
    }
}

